.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#NewTask {
  width: 432px;
  height: 600px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 2rem;
}
#TodoList {
  width: 576px;
  height: 600px;
  border: 1px solid black;
  border-left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#TodoList_body {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#taskList {
  overflow: scroll;
}
#search {
  margin-bottom: 10px;
}
.title {
  font-weight: bold;
}
#bulkAction {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e0e0e0;
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#doneButton {
  background-color: #3096f3;
}
#doneButton:hover {
  background-color: #4ba3f6;
  cursor: pointer;
}
@media screen and (max-device-width: 760px) {
  .App {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    overflow: scroll;
  }
  #NewTask {
    width: 100%;
  }
  #TodoList {
    width: 100%;
  }
}
@media screen and (max-device-height: 600px) {
  .App {
    height: fit-content;
    overflow: scroll;
  }
}
